
//Render partial  makes a local variable named available in the partial  in the project folder 
%h2
  = link_to @project.title, edit_project_path(@project)
  Items
= render partial: 'items/form', locals: { project: @project }
